SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CIPHER_ANSWER_1=MEET AT THE PORT
CIPHER_ANSWER_2=TRUST NO ONE
CIPHER_ANSWER_3=DANGER IN KARACHI
CIPHER_ANSWER_4=ABORT
CIPHER_ANSWER_5=OPERATION REVENGE
CIPHER_ANSWER_6=HAMZA LIVES
CIPHER_ANSWER_7=THE REVENGE IS COMPLETE
